<header>
    <div class="logo-container">
        <img src="/fotos/skillup.png" alt="Logo skill up">
        <div class="logo-text"><%= typeof titulo !== 'undefined' ? titulo : 'SkillUP - sistema de aprendizagem' %></div>
    </div>
    <nav>
        <ul>
            <% if (user) { %>
                <li><a href="/">Home</a></li>
                    <li><a href="/admin/feed/lst">Feed</a></li>
                <% if (user.role === 'professor') { %>
                    <li><a href="/admin/postagem/lst">Postagens</a></li>
                <% } %>
                <li><a href="/admin/perfil">Meu Perfil</a></li>
                <li>
                    <form action="/logout" method="post">
                        <button type="submit" class="logout-btn">Sair</button>
                    </form>
                </li>
            <% } else { %>
                <li><a href="/login">Entrar</a></li>
                <li><a href="/register">Criar Usuários</a></li>
            <% } %>
        </ul>
    </nav>
</header>
